.dashboard-container{
  height: 100vh;
  .dasboard-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    .dashboard-top{
      flex-basis: 65%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .dashboard-top-content{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin-top: 0;
        .left-top-content{
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          align-items: space-between;
          .tank-you{
            width: 430px;
            position: relative;
            h2{
              font-family: 'Cunia';
              font-size: 75px;
              margin-bottom: 50px;
              color: black;
            }
            img{
              position: absolute;
              right: -3px;
              top: 70px;
              width: 50px;
            }
            p{
              font-family: 'Roboto';
              font-size: 26px;
              font-weight: 400;
              color: black;
              span{
                font-family: 'Cunia';
                font-size: 26px;
                color: #00D8E9;
              }
            }
            a{
              text-decoration: none;
            }
            .countdown-container{
              margin-top: 65px;
              display: flex;
              .btn-container{
                background-color: #353A40;
                padding: 11px 15px;
                border: 1px solid black;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,1);
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-around;
                &:hover{
                  background-color: #24272C;
                }
                h3{
                  font-family: 'Roboto';
                  font-size: 18px;
                  font-weight: 400;
                  color: white;
                  padding-bottom: 2px;
                  margin: 0;
                }
                .text-time{
                  display: flex;
                  align-items: center;
                  p#seconds{
                    color: #00D8E9;
                  }
                  p.numbers{
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 16px;
                    margin: 0 2px 0 6px;
                    color: white;
                  }
                  p.text-numbers{
                    font-size: 10px;
                    color: #E1E2E9;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
        .refer-friends-container{
          flex-basis: 50%;
          .refer-friends-content{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .text-part{
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 30px;
              color: black;
              h1{
                margin-bottom:23px;
                padding:0;
                font-weight: 500;
                font-size: 35px;
                text-align: center;
                letter-spacing: 2px;
                span#blue{
                  color: #00D8E9;
                }
                span#orange{
                  color: #FF9D00;
                }
              }
              h2{
                margin-top: 10px;
                padding:0;
                font-weight: 500;
                font-size: 19px;
                font-family: 'Cunia';
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                letter-spacing: 1px;
              }
              p{
                text-align: center;
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 13px;
                margin-top: 20px;
                opacity: 0.8;
                letter-spacing: 1px;
              }
              .copy-link{
                background-color: white;
                border: 2px solid #DBDBDB;
                box-shadow: 0 0 5px rgba(0,0,0,0.16);
                padding: 9px;
                border-radius: 1px;
                font-size: 15px;
                text-align: center;
                font-family: 'Roboto';
                font-weight: 500;
                padding: 8px 60px;

              }
              .social-links{
                display: flex;
                justify-content: center;
                a:last-child{
                  margin-left: 70px;
                }
                i{
                  font-size: 35px;
                  color: black;
                }
              }
              p#link-info{
                color: black;
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .dashboard-bottom{
      flex-basis: 35%;
      background-color: #FF9D00;
      position: relative;
      h3{
        font-weight: 500;
        font-size: 19px;
        font-family: 'Cunia';
        color: white;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      p{
        text-align: center;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 17px;
        color: white;
      }
      p#total{
        padding: 5px 10px;
        position: absolute;
        right: 2px;
        top: 2px;
        color: black;
        font-weight: 500;
      }
      p.place{
        margin-bottom: 2px;
      }
      p.check{
        margin-bottom: 2px;
      }
      .friends-cards-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 40px;
        .friends-cards{
          width: 90px;
          height: 115px;
          background-color: rgba(255, 255, 255, 0.33);
          border: 1px solid white;
          box-shadow: 0 0 5px rgba(0,0,0,0.16);
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          p{
            font-size: 22px;
            font-family: 'Cunia';
            color: white;
            margin: 0;
          }
          p.money{
            color: black;
            font-family: 'Roboto';
            font-size: 14px;
            margin: 0;
          }
          p#number{
            position: absolute;
            color: white;
            font-family: 'Roboto';
            font-size: 14px;
            bottom: 0px;
            left: 45%;
            right: 55%;
            padding: 0;
          }
        }
        .referal_cards{
          background-color: white;
          border: 1px solid #00D8E9;
          box-shadow: 0 0 5px rgba(0,0,0,0.16);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            font-family: 'Cunia';
            font-size: 12px;
            font-weight: 500;
            color: #00D8E9;
          }
        }
      }
    }
  }
}


@media (min-width: 1580px){
  .dashboard-container{
    .dasboard-content{
      .dashboard-top{
        flex-basis: 65%;
        .dashboard-top-content{
          .left-top-content{
            .tank-you{
              width: 430px;
              position: relative;
              h2{
                font-family: 'Cunia';
                font-size: 75px;
                margin-bottom: 50px;
                color: black;
              }
              img{
                position: absolute;
                right: -3px;
                top: 70px;
                width: 50px;
              }
              p{
                font-family: 'Roboto';
                font-size: 26px;
                font-weight: 400;
                color: black;
                span{
                  font-family: 'Cunia';
                  font-size: 26px;
                  color: #00D8E9;
                }
              }
              a{
                text-decoration: none;
              }
              .countdown-container{
                margin-top: 65px;
                display: flex;
                .btn-container{
                  background-color: #353A40;
                  padding: 11px 15px;
                  border: 1px solid black;
                  border-radius: 5px;
                  color: white;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  &:hover{
                    background-color: #24272C;
                  }
                  h3{
                    font-family: 'Roboto';
                    font-size: 18px;
                    font-weight: 400;
                    color: white;
                    padding-bottom: 2px;
                    margin: 0;
                  }
                  .text-time{
                    display: flex;
                    align-items: center;
                    p#seconds{
                      color: #00D8E9;
                    }
                    p.numbers{
                      font-family: 'Roboto';
                      font-weight: 500;
                      font-size: 16px;
                      margin: 0 2px 0 6px;
                      color: white;
                    }
                    p.text-numbers{
                      font-size: 10px;
                      color: #E1E2E9;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
          .refer-friends-container{
            flex-basis: 50%;
            .refer-friends-content{
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .text-part{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 30px;
                color: black;
                h1{
                  margin-bottom:23px;
                  padding:0;
                  font-weight: 500;
                  font-size: 45px;
                  text-align: center;
                  letter-spacing: 2px;
                  span#blue{
                    color: #00D8E9;
                  }
                  span#orange{
                    color: #FF9D00;
                  }
                }
                h2{
                  margin-top: 10px;
                  padding:0;
                  font-size: 19px;
                  font-family: 'Cunia';
                  width: 100%;
                  text-align: center;
                  margin-bottom: 15px;
                  letter-spacing: 1px;
                }
                p{
                  text-align: center;
                  font-family: 'Roboto';
                  font-weight: 400;
                  font-size: 15px;
                  margin-top: 20px;
                  opacity: 0.8;
                  letter-spacing: 1px;
                }
                .copy-link{
                  background-color: white;
                  border: 1px solid #DBDBDB;
                  box-shadow: 0 0 5px rgba(0,0,0,0.16);
                  border-radius: 1px;
                  font-size: 16px;
                  text-align: center;
                  font-family: 'Roboto';
                  font-weight: 400;
                  padding: 8px 70px;

                }
                .social-links{
                  display: flex;
                  justify-content: center;
                  a:last-child{
                    margin-left: 70px;
                  }
                  i{
                    font-size: 35px;
                    color: black;
                  }
                }
                p#link-info{
                  color: black;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .dashboard-bottom{
        flex-basis: 35%;
        background-color: #FF9D00;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        h3{
          font-weight: 500;
          font-size: 19px;
          font-family: 'Cunia';
          color: white;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        p{
          text-align: center;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 17px;
          color: white;
        }
        p#total{
          padding: 5px 10px;
          position: absolute;
          right: 2px;
          top: 2px;
          color: black;
          font-weight: 500;
        }
        p.place{
          margin-bottom: 2px;
        }
        p.check{
          margin-bottom: 2px;
        }
        .friends-cards-container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 40px;
          .friends-cards{
            width: 90px;
            height: 115px;
            background-color: rgba(255, 255, 255, 0.33);
            border: 1px solid white;
            box-shadow: 0 0 5px rgba(0,0,0,0.16);
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            p{
              font-size: 22px;
              font-family: 'Cunia';
              color: white;
              margin: 0;
            }
            p.money{
              color: black;
              font-family: 'Roboto';
              font-size: 14px;
              margin: 0;
            }
            p#number{
              position: absolute;
              color: white;
              font-family: 'Roboto';
              font-size: 14px;
              bottom: 0px;
              left: 45%;
              right: 55%;
              padding: 0;
            }
          }
          .referal_cards{
            background-color: white;
            border: 1px solid #00D8E9;
            box-shadow: 0 0 5px rgba(0,0,0,0.16);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
              font-family: 'Cunia';
              font-size: 12px;
              font-weight: 500;
              color: #00D8E9;
            }
          }
        }
      }
    }
  }
}
