.main-container{
  img{
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
  }
  .page-1-container{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    .page-1-wrapper{
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img.macbook{
        width: 90%;
        position: absolute;
        left: 0;
        margin-top: 100px;
        z-index: -1;
      }
      .right-wrapper{
        h1{
          font-family: "Cunia";
          font-size: 38px;
          margin-top: -80px;
          margin-right: 30px;
        }
        h2{
          font-family: "roboto";
          font-weight: 500;
          font-size: 23px;
          margin-bottom: 45px;
        }
        a{
          border: 2px solid #00ECF8;
          padding: 8px 30px;
          border-radius: 5px;
          text-decoration: none;
          color: black;
          font-family: "roboto";
        }
      }
    }
  }
  .box-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .box{
        width: 200px;
        padding: 30px 0;
        background-color: #DBDBDB;
        height: 10%;
        vertical-align: center;
        p{
          text-align: center
        }
      }
    }
  }
}
