.main-container{
  img#guirlande{
    position: absolute;
    top:0;
    right: 0;
    width: 250px;
    height: 155px;
    z-index: 0;
  }
  .page-1-container{
    height: 100vh;
    .page-1-wrapper{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: image_url("WebApp.png");
      background-repeat: no-repeat;
      background-size: cover;
      .right-wrapper{
        flex-basis: 37%;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        .right-content{
          width: 67%;
          h1{
            font-family: "Cunia";
            font-size: 33px;
          }
          h2{
            font-family: "Roboto";
            font-weight: 400;
            font-size: 18px;
            margin: 30px 0 45px;
          }
          a{
            background-color: #353A40;
            &:hover{
              background-color: #24272B;
            }
          }
        }
      }
    }
  }
  .page-2-covid-19{
    height: 100vh;
    .page-2-content{
      padding: 60px 140px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .row-top{
        display: flex;
        height: 70%;
        .image{
          flex-basis: 30%;
          img#who{
            width: 165px;
          }
        }
        .text{
          flex-basis: 70%;
          margin-top: 30px;
          h3{
            font-family: 'Cunia';
            font-size: 38px;
          }
          p{
            font-family: 'Roboto';
            font-size: 19px;
            a{
              color: #2F7EF7;
              &:hover{
                color: #276BD2;
              }
            }
          }
        }
      }
      .row-bottom{
        display: flex;
        height: 70%;
        justify-content: center;
        align-items: center;
        .partners{
          width: 100%;
          display: flex;
          justify-content: space-between;
          img#bbp{
            width: 150px;
          }
          img#rbe{
            width: 150px;
          }
        }
      }
    }
  }
  .page-3-lineup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
    padding: 0 80px;
    position:relative;
    img#disco-ball{
      position: absolute;
      top:0;
      right: 120px;
      width: 50px;
      z-index: 0;
    }
    .page-3-lineup-content{
      width: 100%;
      padding: 50px;
      display: flex;
      justify-content: space-between;
      .left-wrapper{
        flex-basis: 35%;
        p.party-time{
          font-family: 'Cunia';
          font-size: 18px;
          margin-bottom: 50px;
          color: #2F7EF7;
        }
        .rectangle{
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 80px;
          h3{
            font-family: 'Cunia';
            font-size: 38px;
            padding-bottom: 64px;
            border-bottom: 1px solid #525252;
            margin-bottom: 0;
          }
          ul.artists{
            padding: 0;
            margin: 0;
            li{
              display: flex;
              justify-content: space-between;
              margin-bottom: 2px;
              &:last-child{
                margin-bottom: 0px;
              }
              p{
                margin-bottom: 0;
              }
              p.name{
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 20px;
              }
              p.hours{
                font-family: 'Roboto';
                font-size: 20px;
                color: #525252;
              }
            }
          }
        }
        a{
          background-color: #353A40;
          &:hover{
            background-color: #24272B;
          }
        }
      }
      .right-wrapper{
        p.party-time{
          font-family: Cunia;
          font-size: 18px;
          margin-bottom: 50px;
          color: #2F7EF7;
          span{
            color: black;
          }
        }
        .rectangle{
          width: 470px;
          height: 300px;
          background-color: white;
          border: 1px solid #DBDBDB;
          box-shadow: 0 0 5px rgba(0,0,0,0.16);
          img#event_cover{
            width: 100%;
          }
        }
      }
    }
  }
  .rooms-container{
    padding: 0 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    .rooms-content{
      padding: 100px 0px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .room-top-wrapper{
        margin-bottom: 100px;
        .room-top-content{
          display: flex;
          justify-content: space-between;
          .left-content{
            .rectangle{
              width: 470px;
              height: 300px;
              background-color: white;
              border: 1px solid #00ECF8;
              box-shadow: 0 0 5px rgba(0,0,0,0.16);
            }
          }
          .right-content{
            width: 470px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-content{
              h3{
                font-family: 'Cunia';
                font-size: 38px;
              }
              p{
                font-family: 'Roboto';
                font-size: 18px;
                margin: 25px 0 43px;
                font-weight: 500;
              }
              a{
                color: white;
              }
            }
          }
        }
      }
      .room-bottom-wrapper{
        .room-bottom-content{
          display: flex;
          justify-content: space-between;
          .left-content{
            width: 470px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-content{
              h3{
                font-family: 'Cunia';
                font-size: 38px;
              }
              p{
                font-family: 'Roboto';
                font-size: 18px;
                margin: 25px 0 43px;
                font-weight: 500;
                a{
                  color: blue;
                  &:hover{
                    text-decoration: underline;
                    background-color: transparent;
                  }
                }
              }
              a{
                color: white;
              }
            }
          }
          .right-content{
            .rectangle{
              width: 470px;
              height: 300px;
              background-color: white;
              border: 1px solid #FF9D00;
              box-shadow: 0 0 5px rgba(0,0,0,0.16);
            }
          }
        }
      }
    }
  }

  .box-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-content{
      height: 80%;
      text-align: center;
      h3{
        font-family: 'Cunia';
        font-size: 38px;
      }
      p{
        font-family: 'Roboto';
        font-size: 18px;
        margin: 25px 0 45px;
        font-weight: 500;
      }
      .box-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        a{
          &:hover{
            background-color: transparent;
            text-decoration: none;
            .box{
              border-color: #353A40;
              border-radius: 5px;
            }
          }
        }
        .box{

          float: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 270px;
          height: 350px;
          // margin: 0 30px;
          background-color: white;
          border: 1px solid #DBDBDB;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0,0,0,0.16);
          .box-top{
            flex-basis: 81%;
            display: flex;
            flex-direction: column;

            .image{
              flex-basis: 58%;
              // background-color: pink;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: 180px;
              }
            }
            .text-content{
              flex-basis: 42%;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              ul{
                margin: 0;
                padding-left: 15px;
                list-style: none;
                text-align: left;
                font-family: 'Roboto';
                font-weight: 600;
                color: black;
                font-size: 15px;
                li{
                  padding-bottom: 8px;
                  img{
                    width: 15px;
                    margin-right: 8px;
                  }
                }
              }
            }
          }
          .box-bottom{
            flex-basis: 19%;
            display: flex;
            background-color: #353A40;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 5px 5px;
            p{
              margin: 0;
              font-family: 'Roboto';
              font-size: 30px;
              font-weight: 400;
              color: white;
            }
          }
        }
      }
    }
  }
}
