.main-container{
  img#guirlande{
    position: absolute;
    top:0;
    right: 0;
    width: 250px;
    height: 155px;
    z-index: 0;
  }
  .page-1-container{
    height: 100vh;
    .page-1-wrapper{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: image_url("Background_page_1.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      .right-wrapper{
        flex-basis: 43%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        .right-content{
          h1{
            font-family: "Cunia";
            font-size: 33px;
          }
          h2{
            font-family: "Roboto";
            font-weight: 400;
            font-size: 18px;
            margin: 30px 0 45px;
          }
          a{
            width: 330px !important;
            background-color: #353A40;//#2F7EF7;
            &:hover{
              background-color: #24272C;//#276BD2;
            }
          }
        }
      }
    }
  }
  .page-2-covid-19{
    height: 90vh;
    .page-2-content{
      padding: 80px 140px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .row-top{
        display: flex;
        flex-basis: 60%;
        height: 100%;
        align-items: center;
        .image{
          flex-basis: 30%;
          img#who{
            width: 165px;
          }
        }
        .text{
          flex-basis: 70%;
          margin-top: 30px;
          h3{
            font-family: 'Cunia';
            font-size: 38px;
          }
          p{
            font-family: 'Roboto';
            font-size: 19px;
            a{
              color: #2F7EF7;
              &:hover{
                color: #276BD2;
              }
            }
          }
        }
      }
      .row-bottom{
        display: flex;
        flex-basis: 40%;
        justify-content: center;
        align-items: flex-end;
        .partners{
          width: 100%;
          display: flex;
          justify-content: space-between;
          img#bbp{
            width: 120px;
          }
          img#rbe{
            width: 150px;
            height: 120px;
          }
        }
      }
    }
  }
  .page-3-lineup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
    padding: 0 80px;
    position:relative;
    img#disco-ball{
      position: absolute;
      top:0;
      right: 120px;
      width: 50px;
      z-index: 0;
    }
    .page-3-lineup-content{
      width: 100%;
      padding: 50px;
      display: flex;
      justify-content: space-between;
      .left-wrapper{
        flex-basis: 35%;
        p.party-time{
          font-family: 'Cunia';
          font-size: 18px;
          margin-bottom: 50px;
          color: #2F7EF7;
        }
        .rectangle{
          height: 190px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 80px;
          h3{
            font-family: 'Cunia';
            font-size: 38px;
            padding-bottom: 34px;
            border-bottom: 1px solid #525252;
            margin-bottom: 0;
          }
          ul.artists{
            padding: 0;
            padding-top: 30px;
            margin: 0;
            li{
              display: flex;
              justify-content: space-between;
              margin-bottom: 2px;
              &:last-child{
                margin-bottom: 0px;
              }
              p{
                margin-bottom: 0;
              }
              p.name{
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 20px;
              }
              p.hours{
                font-family: 'Roboto';
                font-size: 20px;
                color: #525252;
              }
            }
          }
        }
        a{
          background-color: #353A40;//#2F7EF7;
          &:hover{
            background-color: #24272C;//#276BD2;
          }
        }
      }
      .right-wrapper{
        p.party-time{
          font-family: Cunia;
          font-size: 18px;
          margin-bottom: 50px;
          color: #2F7EF7;
          span{
            color: black;
          }
        }
        .rectangle{
          width: 500px;
          height: 320px;
          background-color: white;
          border: 1px solid #DBDBDB;
          box-shadow: 0 0 5px rgba(0,0,0,0.16);
          img#event_cover{
            width: 100%;
          }
        }
      }
    }
  }
  .rooms-container{
    padding: 0 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    .rooms-content{
      padding: 100px 0px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .room-top-wrapper{
        margin-bottom: 100px;
        .room-top-content{
          display: flex;
          justify-content: space-between;
          .left-content{
            .rectangle{
              width: 470px;
              height: 300px;
              background-color: white;
              border: 1px solid #00ECF8;
              box-shadow: 0 0 5px rgba(0,0,0,0.16);
            }
          }
          .right-content{
            width: 470px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-content{
              h3{
                font-family: 'Cunia';
                font-size: 38px;
              }
              p{
                font-family: 'Roboto';
                font-size: 18px;
                margin: 25px 0 43px;
                font-weight: 500;
              }
              a{
                color: white;
                width: 330px !important;
              }
            }
          }
        }
      }
      .room-bottom-wrapper{
        .room-bottom-content{
          display: flex;
          justify-content: space-between;
          .left-content{
            width: 470px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-content{
              h3{
                font-family: 'Cunia';
                font-size: 38px;
              }
              p{
                font-family: 'Roboto';
                font-size: 18px;
                margin: 25px 0 43px;
                font-weight: 500;
                a{
                  color: blue;
                  &:hover{
                    text-decoration: underline;
                    background-color: transparent;
                  }
                }
              }
              a{
                color: white;
                width: 330px !important;
              }
            }
          }
          .right-content{
            .rectangle{
              width: 470px;
              height: 300px;
              background-color: white;
              border: 1px solid #FF9D00;
              box-shadow: 0 0 5px rgba(0,0,0,0.16);
            }
          }
        }
      }
    }
  }

  .box-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-content{
      height: 80%;
      text-align: center;
      h3{
        font-family: 'Cunia';
        font-size: 38px;
      }
      p{
        font-family: 'Roboto';
        font-size: 18px;
        margin: 25px 0 45px;
        font-weight: 500;
      }
      .box-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        a{
          &:hover{
            background-color: transparent;
            text-decoration: none;
            .box{
              border-color: #2F7EF7;//#353A40;
              border-radius: 5px;
            }
          }
          .mb-1 {
            margin-bottom: 50px !important;
          }
        }
        .bottom-margin { margin-bottom: 30px !important;}
        .box{

          float: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 270px;
          height: 350px;
          // margin: 0 30px;
          background-color: white;
          border: 1px solid #DBDBDB;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0,0,0,0.16);
          .box-top{
            flex-basis: 81%;
            display: flex;
            flex-direction: column;

            .image{
              flex-basis: 58%;
              // background-color: pink;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: 180px;
              }
            }
            .text-content{
              flex-basis: 42%;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              ul{
                margin: 0;
                padding-left: 15px;
                list-style: none;
                text-align: left;
                font-family: 'Roboto';
                font-weight: 600;
                color: black;
                font-size: 15px;
                li{
                  padding-bottom: 8px;
                  img{
                    width: 15px;
                    margin-right: 8px;
                  }
                }
              }
            }
          }
          .box-bottom{
            flex-basis: 19%;
            display: flex;
            background-color: #2F7EF7;//#353A40;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 5px 5px;
            p{
              margin: 0;
              font-family: 'Roboto';
              font-size: 30px;
              font-weight: 400;
              color: white;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1380px){
  .main-container{
    .page-1-container{
      .page-1-wrapper{
        .right-wrapper{
          .right-content{
            h1{
              font-size: 35px;
            }
          }
        }
      }
    }
    .page-2-covid-19{
      padding: 0 40px;
      .page-2-content{
        .row-top{
          display: flex;
          height: 70%;
          .image{
            flex-basis: 30%;
            img#who{
              width: 165px;
              margin-left: 5px;
            }
          }
          .text{
            flex-basis: 70%;
            margin-top: 30px;
            h3{
              font-family: 'Cunia';
              font-size: 38px;
            }
          }
        }
        .row-bottom{
          .partners{
            img#bbp{
              width: 150px;
            }
            img#rbe{
              width: 150px;
            }
          }
        }
      }
    }
    .page-3-lineup-container{
      .page-3-lineup-content{
        padding: 0 100px;
      }
    }
    .rooms-container{
      padding: 0 170px;
      .rooms-content{
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        .room-top-wrapper{
          margin-bottom: 100px;
          .room-top-content{
            display: flex;
            justify-content: space-between;
            .left-content{
              .rectangle{
                width: 470px;
                height: 300px;
                background-color: white;
                border: 1px solid #00ECF8;
                box-shadow: 0 0 5px rgba(0,0,0,0.16);
              }
            }
            .right-content{
              width: 470px;
              height: 300px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .text-content{
                h3{
                  font-family: 'Cunia';
                  font-size: 38px;
                }
                p{
                  font-family: 'Roboto';
                  font-size: 18px;
                  margin: 25px 0 43px;
                  font-weight: 500;
                }
                a{
                  color: white;
                }
              }
            }
          }
        }
        .room-bottom-wrapper{
          .room-bottom-content{
            display: flex;
            justify-content: space-between;
            .left-content{
              width: 470px;
              height: 300px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .text-content{
                h3{
                  font-family: 'Cunia';
                  font-size: 38px;
                }
                p{
                  font-family: 'Roboto';
                  font-size: 18px;
                  margin: 25px 0 43px;
                  font-weight: 500;
                  a{
                    color: blue;
                    &:hover{
                      text-decoration: underline;
                      background-color: transparent;
                    }
                  }
                }
                a{
                  color: white;
                }
              }
            }
            .right-content{
              .rectangle{
                width: 470px;
                height: 300px;
                background-color: white;
                border: 1px solid #FF9D00;
                box-shadow: 0 0 5px rgba(0,0,0,0.16);
              }
            }
          }
        }
      }
    }

    .box-container{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .box-content{
        .box-wrapper{
          padding: 0 200px;
          .bottom-margin { margin-bottom: 30px !important;}
          .box{
          }
        }
      }
    }
  }
}


@media (min-width: 1500px){
.main-container{
  img#guirlande{
    position: absolute;
    top:0;
    right: 0;
    width: 300px;
    height: 185px;
    z-index: 0;
  }
    .page-1-container{
      .page-1-wrapper{
        .right-wrapper{
          .right-content{
            h1{
              font-size: 45px;
            }
            h2{
              font-family: "Roboto";
              font-weight: 400;
              font-size: 22px;
              margin: 30px 0 45px;
            }
            a{
              width: 400px !important;
            }
          }
        }
      }
    }
    .page-2-covid-19{
      height: 90vh;
      padding: 0 40px;
      .page-2-content{
        .row-top{
          display: flex;
          height: 70%;
          .image{
            flex-basis: 30%;
            img#who{
              width: 185px;
              margin-left: 5px;
            }
          }
          .text{
            flex-basis: 70%;
            margin-top: 30px;
            h3{
              font-family: 'Cunia';
              font-size: 45px;
            }
            p{
              font-family: "Roboto";
              font-weight: 400;
              font-size: 22px;
            }
          }
        }
        .row-bottom{
          .partners{
            img#bbp{
              width: 150px;
            }
            img#rbe{
              width: 150px;
            }
          }
        }
      }
    }
    .page-3-lineup-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      background-color: #F5F5F5;
      padding: 0 150px;
      position:relative;
      img#disco-ball{
        position: absolute;
        top:0;
        right: 170px;
        width: 50px;
        z-index: 0;
      }
      .page-3-lineup-content{
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        .left-wrapper{
          flex-basis: 35%;
          p.party-time{
            font-family: 'Cunia';
            font-size: 18px;
            margin-bottom: 70px;
            color: #2F7EF7;
          }
          .rectangle{
            height: 245px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 80px;
            h3{
              font-family: 'Cunia';
              font-size: 45px;
              padding-bottom: 54px;
              border-bottom: 1px solid #525252;
              margin-bottom: 0;
            }
            ul.artists{
              padding: 0;
              margin: 0;
              li{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2px;
                &:last-child{
                  margin-bottom: 0px;
                }
                p{
                  margin-bottom: 0;
                }
                p.name{
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 20px;
                }
                p.hours{
                  font-family: 'Roboto';
                  font-size: 20px;
                  color: #525252;
                }
              }
            }
          }
        }
        .right-wrapper{
          p.party-time{
            font-family: Cunia;
            font-size: 18px;
            margin-bottom: 80px;
            color: #2F7EF7;
            span{
              color: black;
            }
          }
          .rectangle{
            width: 570px;
            height: 350px;
            background-color: white;
            border: 1px solid #DBDBDB;
            box-shadow: 0 0 5px rgba(0,0,0,0.16);
            img#event_cover{
              width: 100%;
            }
          }
        }
      }
    }
    .rooms-container{
      padding: 0 170px;
      .rooms-content{
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        .room-top-wrapper{
          margin-bottom: 100px;
          .room-top-content{
            display: flex;
            justify-content: space-between;
            .left-content{
              .rectangle{
                width: 570px;
                height: 350px;
                background-color: white;
                border: 1px solid #00ECF8;
                box-shadow: 0 0 5px rgba(0,0,0,0.16);
              }
            }
            .right-content{
              width: 570px;
              height: 350px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .text-content{
                h3{
                  font-family: 'Cunia';
                  font-size: 45px;
                }
                p{
                  font-family: 'Roboto';
                  font-size: 22px;
                  margin: 25px 0 43px;
                  font-weight: 400;
                }
                a{
                  color: white;
                }
              }
            }
          }
        }
        .room-bottom-wrapper{
          .room-bottom-content{
            display: flex;
            justify-content: space-between;
            .left-content{
              width: 570px;
              height: 350px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .text-content{
                h3{
                  font-family: 'Cunia';
                  font-size: 45px;
                }
                p{
                  font-family: 'Roboto';
                  font-size: 22px;
                  margin: 25px 0 43px;
                  font-weight: 400;
                  a{
                    color: blue;
                    &:hover{
                      text-decoration: underline;
                      background-color: transparent;
                    }
                  }
                }
                a{
                  color: white;
                }
              }
            }
            .right-content{
              .rectangle{
                width: 570px;
                height: 350px;
                background-color: white;
                border: 1px solid #FF9D00;
                box-shadow: 0 0 5px rgba(0,0,0,0.16);
              }
            }
          }
        }
      }
    }

    .box-container{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .box-content{
        .box-wrapper{
          padding: 0 300px;
          .bottom-margin { margin-bottom: 30px !important;}
          .box{
          }
        }
      }
    }
  }
}
