.field_with_errors{
  background-color: transparent;
  display: block;
  padding: 0;
  // input{
  //   border-color: #D00;
  // }
}
p.errors{
  margin: 0;
  color: #D00;
  font-size: 12px;
  margin-bottom: -15px;
}
