.product-show-container{
  height: 100vh;
  padding: 40px;
  background-color: #FAFBFD;
  p#copyright{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
    color: #6E757C;
  }
  .product-show-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .product-show-wrapper{
      width: 100%;
      display: flex;
      .left-wrapper{
        flex-basis: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 100px;
        .left-content{
          width: 100%;
          height: 530px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .images-container{
            .slideshow-image-container{
              position: relative;
              margin: auto;
              border: 1px solid #DBDBDB;
              box-shadow: 0 0 5px rgba(0,0,0,0.16);
              /* Next & previous buttons */
              .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: #363A40;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                &:hover{
                  color: white;
                }
              }
              /* Position the "next button" to the right */
              .next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
              /* On hover, add a black background color with a little bit see-through */
              .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
              }
              .productImage{
                /* Number text (1/3 etc) */
                .numbertext {
                  color: #f2f2f2;
                  font-size: 12px;
                  padding: 8px 12px;
                  position: absolute;
                  top: 0;
                }
                /* Caption text */
                .text {
                  color: #f2f2f2;
                  font-size: 15px;
                  padding: 8px 12px;
                  position: absolute;
                  bottom: 8px;
                  width: 100%;
                  text-align: center;
                }
                .image-wrap{
                  width: 410px;
                  height: 250px;
                  background-color: white;
                }
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .right-wrapper{
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
          font-family: 'Cunia';
          margin-bottom: 25px;
          font-size: 28px;
          span{
            font-size: 30px;
          }
        }
        button{
          background-color: #2A5FF6;
          &:hover{
            background-color: #1142CC;
          }
        }
        .image{
          display: flex;
          align-items: flex-end;
          justify-content: center;
          img.credit-card{
          width: 100px;
          }
        }
      }
    }
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.tabbed {
  margin-top: 30px;
  width: 77%;
  font-family: 'Roboto';
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 5px 0;
  margin-right: 27px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  border-bottom: 3px solid #353A40;
}

.tabs {
  clear: both;
  perspective: 900px;
}
.tabs > div {
  width: 100%;
  position: absolute;
  padding: 10px 30px 40px 0;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
  h4{
    font-size: 30px;
    margin-bottom: 5px;
    span{
      font-size: 18px;
      font-weight: 500;
    }
  }
  .delivery{
    .shipping{
      display: flex;
      align-items: center;
      img#truck{
        width: 70px;
      }
      h4{
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
      }
    }
  }
  img#woh{
    width: 100px;
  }
  p{
    font-size: 15px;
  }
  p#size{
    font-size: 16px;
    color: black;
    margin-bottom: 3px;
  }
  ul{
    color: black;
    padding-left: 5px;
    column-count: 2;
    list-style: none;
    li{
      font-size: 14px;
    }
  }
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

